<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="debug">
    <Appenders>
        <Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>
                    [%t] [%-5level] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </Console>
        <File name="File-Appender" fileName="${sys:logFileName}.log" >
            <PatternLayout>
                <pattern>
                    [%t] [%-5level] %c{1} - %msg%n
                </pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <!-- Console appender prints the log to the console, derired for debugging and running in your own computer -->
            <AppenderRef ref="Console-Appender"/>
            
            <!-- file appender writes the log to file, appropriate to server -->
            <!--<AppenderRef ref="File-Appender"/>-->
        </Root>
    </Loggers>
</Configuration>
